@import url(geral.css);

/* BREAKPOINTS
    --mobile: 600px;
    --tablet: 900px;
    --tablet-Landscape: 1200px;
    --desktop: 1800px;
*/

@media screen and (max-width:900px) {

    /* HEADER */
    .header {
        height: 30rem;
        padding: 0;
    }

    header .header-paragraph {
        padding-top: 1rem;
        margin: 0;
    }

    .nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1rem;
    }


    a.btn {
        margin: auto;
        text-align: center;
        width: 18rem;
    }

    /* ALGORITIMO */

    .algoritimo {
        margin-bottom: 25rem;
    }

    .algoritimo-text {
        margin: 0 auto;
    }

    .form-algoritimo {
        margin: 3rem auto;
    }

    /* PRODUTOS */

    .list-produtos {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        text-align: center;
    }

    .produto-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .descricao-produto {
        max-width: 20rem;
    }

    /* COMPARTILHE */

    .input-amigo input {
        width: 25rem;
    }

    .input-email input {
        width: 25rem;
    }

    /* FOOTER */
    .footer {
        width: 100%;
        padding: 0;
    }

}

@media screen and (max-width:600px) {
    /* HEADER */

    .header {
        width: 100%;
        padding: 0;
        height: 40rem;
    }

    header .header-paragraph {
        padding-top: 5rem;
        padding-left: 1rem;
        text-align: left;
    }

    header h1 {
        text-align: left;
        padding-left: 1rem;
    }

    header p {
        text-align: left;
        padding-left: 1rem;
    }

    /* ALGORITIMO */

    .algoritimo-text {
        width: 100%;
    }

    .form-algoritimo {
        width: 100%;
        margin-bottom: 2rem;
    }

    /* PRODUTOS */

    .list-produtos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .produto-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .box {
        margin-right: 2rem;
        flex: 0 1 auto;
    }

    .box-flex {
        text-align: left;
    }

    .box-flex button {
        width: auto;
        padding: .2rem 1rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .descricao-produto {
        display: none;
    }

    /* COMPARTILHE */

    .form-compartilhar {
        flex-direction: column;
    }

    .form-compartilhar input {
        width: 100%;
    }

    .input-amigo {
        width: 100%;
        margin-bottom: 2rem;
    }

    .input-email {
        width: 100%;
    }

}

@media screen and (max-width:300px) {

    .container {
        margin-top: 20rem;
    }

    /* HEADER */

    .header {
        height: 54rem;
    }

    header .header-paragraph {
        padding-top: 1rem
    }

    .nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 1rem;
    }

    /* PRODUTOS */

    .produto-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}